@model CPA.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-1">
    <h1 class="display-4 text-center">Welcome, @ViewBag.FirstName, to your Dashboard</h1>

    <!-- External search input -->
    <div class="form-group">
        <label for="externalSearch">Search by Nombre or Nombre Comercial:</label>
        <input type="text" id="externalSearch" class="form-control" placeholder="Enter search term...">
    </div>

    <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="demograficos-tab" data-toggle="tab" href="#demograficos" role="tab" aria-controls="demograficos" aria-selected="true">Demograficos</a>
        </li>
        <!-- Other tabs -->
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contributivos-tab" data-toggle="tab" href="#contributivos" role="tab" aria-controls="contributivos" aria-selected="false">Contributivos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="administrativos-tab" data-toggle="tab" href="#administrativos" role="tab" aria-controls="administrativos" aria-selected="false">Administrativos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="identificacion-tab" data-toggle="tab" href="#identificacion" role="tab" aria-controls="identificacion" aria-selected="false">Identificacion</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="metodo-de-pago-tab" data-toggle="tab" href="#metodo-de-pago" role="tab" aria-controls="metodo-de-pago" aria-selected="false">Metodo de Pago</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="confidencial-tab" data-toggle="tab" href="#confidencial" role="tab" aria-controls="confidencial" aria-selected="false">Confidencial</a>
        </li>
    </ul>
    <!-- Demograficos tab contents -->
    <div class="tab-content" id="dashboardTabsContent">
        <div class="tab-pane fade show active" id="demograficos" role="tabpanel" aria-labelledby="demograficos-tab">
            <div id="tblDataWrapper" class="dataTableWrapper">
                @foreach (var item in Model.Demograficos)
                {
                    <table class="table table-striped table-bordered tblData" data-nombre="@item.Nombre" data-nombrecomercial="@item.NombreComercial">
                        <tbody>
                            <tr><th>Nombre</th><td>@item.Nombre</td></tr>
                            <tr><th>Nombre Comercial</th><td>@item.NombreComercial</td></tr>
                            <tr><th>Teléfono</th><td>@item.Telefono</td></tr>
                            <tr><th>Celular</th><td>@item.Celular</td></tr>
                            <tr><th>Dirección</th><td>@item.Dir</td></tr>
                            <tr><th>Tipo</th><td>@item.Tipo</td></tr>
                            <tr><th>Patronal</th><td>@item.Patronal</td></tr>
                            <tr><th>SSN</th><td>@item.SSN</td></tr>
                            <tr><th>Incorporacion</th><td>@item.Incorporacion</td></tr>
                            <tr><th>Operaciones</th><td>@item.Operaciones</td></tr>
                            <tr><th>Industria</th><td>@item.Industria</td></tr>
                            <tr><th>NAICS</th><td>@item.NAICS</td></tr>
                            <tr><th>Descripcion</th><td>@item.Descripcion</td></tr>
                            <tr><th>Contacto</th><td>@item.Contacto</td></tr>
                            <tr><th>DirFisica</th><td>@item.DirFisica</td></tr>
                            <tr><th>DirPostal</th><td>@item.DirPostal</td></tr>
                            <tr><th>Email</th><td>@item.Email</td></tr>
                            <tr><th>Email2</th><td>@item.Email2</td></tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary edit-button" onclick="editDemografico('@item.ID')">Update</button>
                }
            </div>
        </div>

        <!-- Contributivos tab contents -->
        <div class="tab-pane fade" id="contributivos" role="tabpanel" aria-labelledby="contributivos-tab">
            <div id="tblDataWrapper" class="dataTableWrapper">
                @foreach (var item in Model.Contributivos)
                {
                <table class="table table-striped table-bordered tblData" data-nombre="@item.Nombre" data-nombrecomercial="@item.NombreComercial">
                    <tbody>
                        <tr><th>Nombre</th><td>@item.Nombre</td></tr>
                        <tr><th>Nombre Comercial</th><td>@item.NombreComercial</td></tr>
                        <tr><th>Registro Estatal</th><td>@item.Estatal</td></tr>
                        <tr><th>Número de Poliza</th><td>@item.Poliza</td></tr>
                        <tr><th>Registro de Comerciante</th><td>@item.RegComerciante</td></tr>
                        <tr><th>Fecha de Vencimiento</th><td>@item.Vencimiento</td></tr>
                        <tr><th>Registro Choferil</th><td>@item.Choferil</td></tr>
                        <tr><th>Departamento de Estado</th><td>@item.DeptEstado</td></tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary edit-button" onclick="editContributivo('@item.ID')">Update</button>

                }
            </div>
        </div>
        <!-- Administrativos tab contents -->
        <div class="tab-pane fade" id="administrativos" role="tabpanel" aria-labelledby="administrativos-tab">
            <div id="tblDataWrapper" class="dataTableWrapper">
                @foreach (var item in Model.Administrativos)
                {
                <table class="table table-striped table-bordered tblData" data-nombre="@item.Nombre" data-nombrecomercial="@item.NombreComercial">
                    <tbody>
                        <tr><th>Nombre</th><td>@item.Nombre</td></tr>
                        <tr><th>Nombre Comercial</th><td>@item.NombreComercial</td></tr>
                        <tr><th>Fecha de Contrato</th><td>@item.Contrato</td></tr>
                        <tr><th>Tipo de Facturación</th><td>@item.Facturacion</td></tr>
                        <tr><th>Número de Facturación</th><td>@item.FacturacionBase</td></tr>
                        <tr><th>IVU</th><td>@item.IVU</td></tr>
                        <tr><th>Staff</th><td>@item.Staff</td></tr>
                        <tr><th>Contratación de Staff</th><td>@item.StaffDate</td></tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary edit-button" onclick="editAdministrativo('@item.ID')">Update</button>
                }
            </div>
        </div>
        <!-- Identificacion tab contents -->
        <div class="tab-pane fade" id="identificacion" role="tabpanel" aria-labelledby="identificacion-tab">
            <div id="tblDataWrapper" class="dataTableWrapper">
                @foreach (var item in Model.Identificaciones)
                {
                <table class="table table-striped table-bordered tblData" data-nombre="@item.Nombre" data-nombrecomercial="@item.NombreComercial">
                    <tbody>
                        <tr><th>Nombre</th><td>@item.Nombre</td></tr>
                        <tr><th>Nombre Comercial</th><td>@item.NombreComercial</td></tr>
                        <tr><th>Accionista</th><td>@item.Accionista</td></tr>
                        <tr><th>SSNA</th><td>@item.SSNA</td></tr>
                        <tr><th>Cargo</th><td>@item.Cargo</td></tr>
                        <tr><th>Licencia de Conducir</th><td>@item.LicConducir</td></tr>
                        <tr><th>Fecha de Nacimiento</th><td>@item.Nacimiento</td></tr>
                    </tbody>
                </table>
                    <button type="button" class="btn btn-primary edit-button" onclick="editIdentificacion('@item.ID')">Update</button>
                }
            </div>
        </div>
        <!-- Metodo de Pago tab contents -->
        <div class="tab-pane fade" id="metodo-de-pago" role="tabpanel" aria-labelledby="metodo-de-pago-tab">
            <div id="tblDataWrapper" class="dataTableWrapper">
                @foreach (var item in Model.Pagos)
                {
                <table class="table table-striped table-bordered tblData" data-nombre="@item.Nombre" data-nombrecomercial="@item.NombreComercial">
                    <tbody>
                        <tr><th>Nombre</th><td>@item.Nombre</td></tr>
                        <tr><th>Nombre Comercial</th><td>@item.NombreComercial</td></tr>
                        <tr><th>Cliente del Banco</th><td>@item.BankClient</td></tr>
                        <tr><th>Banco</th><td>@item.Banco</td></tr>
                        <tr><th>Numero de Ruta</th><td>@item.NumRuta</td></tr>
                        <tr><th>Nombre del Banco</th><td>@item.NameBank</td></tr>
                        <tr><th>Tipo de Cuenta</th><td>@item.TipoCuenta</td></tr>
                        <tr><th>Cliente del Banco 2</th><td>@item.BankClientS</td></tr>
                        <tr><th>Banco 2</th><td>@item.BancoS</td></tr>
                        <tr><th>Numero de Ruta 2</th><td>@item.NumRutaS</td></tr>
                        <tr><th>Nombre del Banco 2</th><td>@item.NameBankS</td></tr>
                        <tr><th>Tipo de Cuenta 2</th><td>@item.TipoCuentaS</td></tr>
                        <tr><th>Cliente en Tarjeta</th><td>@item.NameCard</td></tr>
                        <tr><th>Tarjeta de Pago</th><td>@item.Tarjeta</td></tr>
                        <tr><th>Tipo de Tarjeta</th><td>@item.TipoTarjeta</td></tr>
                        <tr><th>CVV</th><td>@item.CVV</td></tr>
                        <tr><th>Fecha Expiracion</th><td>@item.Expiracion</td></tr>
                        <tr><th>Postal en Tarjeta</th><td>@item.PostalBank</td></tr>
                        <tr><th>Cliente en Tarjeta 2</th><td>@item.NameCardS</td></tr>
                        <tr><th>Tarjeta de Pago 2</th><td>@item.TarjetaS</td></tr>
                        <tr><th>Tipo de Tarjeta 2</th><td>@item.TipoTarjetaS</td></tr>
                        <tr><th>CVVS</th><td>@item.CVVS</td></tr>
                        <tr><th>Fecha Expiracion 2</th><td>@item.ExpiracionS</td></tr>
                        <tr><th>Postal en Tarjeta 2</th><td>@item.PostalBankS</td></tr>
                    </tbody>
                </table>
                }
            </div>
        </div>

        <!-- Confidencial tab contents -->
        <div class="tab-pane fade" id="confidencial" role="tabpanel" aria-labelledby="confidencial-tab">
            <div id="tblDataWrapper" class="dataTableWrapper">
                @foreach (var item in Model.Confidenciales)
        {
                <table class="table table-striped table-bordered tblData" data-nombre="@item.Nombre" data-nombrecomercial="@item.NombreComercial">
                    <tbody>
                        <tr><th>Nombre</th><td>@item.Nombre</td></tr>
                        <tr><th>Nombre Comercial</th><td>@item.NombreComercial</td></tr>
                        <tr><th>Usuario Suri</th><td>@item.UserSuri</td></tr>
                        <tr><th>Contraseña Suri</th><td>@item.PassSuri</td></tr>
                        <tr><th>Usuario Eftps</th><td>@item.UserEftps</td></tr>
                        <tr><th>Contraseña Eftps</th><td>@item.PassEftps</td></tr>
                        <tr><th>PIN</th><td>@item.PIN</td></tr>
                        <tr><th>Usuario CFSE</th><td>@item.UserCFSE</td></tr>
                        <tr><th>Contraseña CFSE</th><td>@item.PassCFSE</td></tr>
                        <tr><th>Usuario Dept del Trabajo</th><td>@item.UserDept</td></tr>
                        <tr><th>Contraseña Dept del Trabajo</th><td>@item.PassDept</td></tr>
                        <tr><th>Usuario Cofim</th><td>@item.UserCofim</td></tr>
                        <tr><th>Contraseña Cofim</th><td>@item.PassCofim</td></tr>
                        <tr><th>Usuario Municipio</th><td>@item.UserMunicipio</td></tr>
                        <tr><th>Contraseña Municipio</th><td>@item.PassMunicipio</td></tr>
                    </tbody>
                </table>
        }
            </div>
        </div>


        <!-- Offcanvas for editing demográficos details -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="editDemograficoOffcanvas" aria-labelledby="editDemograficoOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="editDemograficoOffcanvasLabel">Edit Demografico Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="editDemograficoForm">
                    <input type="hidden" id="demograficoId" name="ID" />
                    <input type="hidden" id="demograficoCID" name="CID" />
                    <input type="hidden" id="demograficoMID" name="MID" />

                    <div class="mb-3">
                        <label for="demograficoNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="demograficoNombre" name="Nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="demograficoNombreComercial" class="form-label">Nombre Comercial</label>
                        <input type="text" class="form-control" id="demograficoNombreComercial" name="NombreComercial" required>
                    </div>
                    <div class="mb-3">
                        <label for="demograficoTelefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="demograficoTelefono" name="Telefono" required>
                    </div>
                    <div class="mb-3">
                        <label for="demograficoCelular" class="form-label">Celular</label>
                        <input type="text" class="form-control" id="demograficoCelular" name="Celular">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoDir" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="demograficoDir" name="Dir">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoTipo" class="form-label">Tipo</label>
                        <input type="text" class="form-control" id="demograficoTipo" name="Tipo">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoPatronal" class="form-label">Patronal</label>
                        <input type="text" class="form-control" id="demograficoPatronal" name="Patronal">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoSSN" class="form-label">SSN</label>
                        <input type="text" class="form-control" id="demograficoSSN" name="SSN">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoIncorporacion" class="form-label">Incorporacion</label>
                        <input type="datetime-local" class="form-control" id="demograficoIncorporacion" name="Incorporacion">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoOperaciones" class="form-label">Operaciones</label>
                        <input type="datetime-local" class="form-control" id="demograficoOperaciones" name="Operaciones">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoIndustria" class="form-label">Industria</label>
                        <input type="text" class="form-control" id="demograficoIndustria" name="Industria">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoNAICS" class="form-label">NAICS</label>
                        <input type="text" class="form-control" id="demograficoNAICS" name="NAICS">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoDescripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="demograficoDescripcion" name="Descripcion">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoContacto" class="form-label">Contacto</label>
                        <input type="text" class="form-control" id="demograficoContacto" name="Contacto">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoDirFisica" class="form-label">DirFisica</label>
                        <input type="text" class="form-control" id="demograficoDirFisica" name="DirFisica">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoDirPostal" class="form-label">DirPostal</label>
                        <input type="text" class="form-control" id="demograficoDirPostal" name="DirPostal">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="demograficoEmail" name="Email">
                    </div>
                    <div class="mb-3">
                        <label for="demograficoEmail2" class="form-label">Email2</label>
                        <input type="email" class="form-control" id="demograficoEmail2" name="Email2">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

        <!-- Offcanvas for editing Contributivos details -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="editContributivoOffcanvas" aria-labelledby="editContributivoOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="editContributivoOffcanvasLabel">Edit Contributivo Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="editContributivoForm">
                    <input type="hidden" id="contributivoId" name="ID" />
                    <input type="hidden" id="contributivoCID" name="CID" />
                    <input type="hidden" id="contributivoMID" name="MID" />

                    <div class="mb-3">
                        <label for="contributivoNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="contributivoNombre" name="Nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="contributivoNombreComercial" class="form-label">Nombre Comercial</label>
                        <input type="text" class="form-control" id="contributivoNombreComercial" name="NombreComercial" required>
                    </div>
                    <div class="mb-3">
                        <label for="contributivoEstatal" class="form-label">Registro Estatal</label>
                        <input type="text" class="form-control" id="contributivoEstatal" name="Estatal" required>
                    </div>
                    <div class="mb-3">
                        <label for="contributivoPoliza" class="form-label">Número de Poliza</label>
                        <input type="text" class="form-control" id="contributivoPoliza" name="Poliza" required>
                    </div>
                    <div class="mb-3">
                        <label for="contributivoRegComerciante" class="form-label">Registro de Comerciante</label>
                        <input type="text" class="form-control" id="contributivoRegComerciante" name="RegComerciante" required>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="contributivoVencimiento" class="form-label">Fecha de Vencimiento</label>
                            <input type="date" class="form-control" id="contributivoVencimiento" name="Vencimiento" required>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="contributivoChoferil" class="form-label">Registro Choferil</label>
                        <input type="text" class="form-control" id="contributivoChoferil" name="Choferil" required>
                    </div>
                    <div class="mb-3">
                        <label for="contributivoDeptEstado" class="form-label">Departamento de Estado</label>
                        <input type="text" class="form-control" id="contributivoDeptEstado" name="DeptEstado" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
        <!-- Offcanvas for editing Administrativos details -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="editAdministrativoOffcanvas" aria-labelledby="editAdministrativoOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="editAdministrativoOffcanvasLabel">Edit Administrativo Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="editAdministrativoForm">
                    <input type="hidden" id="administrativoId" name="ID" />
                    <input type="hidden" id="administrativoCID" name="CID" />
                    <input type="hidden" id="administrativoMID" name="MID" />

                    <div class="mb-3">
                        <label for="administrativoNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="administrativoNombre" name="Nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="administrativoNombreComercial" class="form-label">Nombre Comercial</label>
                        <input type="text" class="form-control" id="administrativoNombreComercial" name="NombreComercial" required>
                    </div>
                    <div class="mb-3">
                        <label for="administrativoContrato" class="form-label">Fecha de Contrato</label>
                        <input type="datetime-local" class="form-control" id="administrativoContrato" name="Contrato">
                    </div>
                    <div class="mb-3">
                        <label for="administrativoFacturacion" class="form-label">Número de Facturación</label>
                        <input type="text" class="form-control" id="administrativoFacturacion" name="Facturacion">
                    </div>
                    <div class="mb-3">
                        <label for="administrativoFacturacionBase" class="form-label">Facturación Base</label>
                        <input type="text" class="form-control" id="administrativoFacturacionBase" name="FacturacionBase">
                    </div>
                    <div class="mb-3">
                        <label for="administrativoIVU" class="form-label">IVU</label>
                        <input type="text" class="form-control" id="administrativoIVU" name="IVU">
                    </div>
                    <div class="mb-3">
                        <label for="administrativoStaff" class="form-label">Staff</label>
                        <input type="text" class="form-control" id="administrativoStaff" name="Staff">
                    </div>
                    <div class="mb-3">
                        <label for="administrativoStaffDate" class="form-label">Contratación de Staff</label>
                        <input type="datetime-local" class="form-control" id="administrativoStaffDate" name="StaffDate">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
        <!-- Offcanvas for editing Identificacion details -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="editIdentificacionOffcanvas" aria-labelledby="editIdentificacionOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="editIdentificacionOffcanvasLabel">Edit Identificación Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="editIdentificacionForm">
                    <input type="hidden" id="identificacionId" name="ID" />
                    <input type="hidden" id="identificacionCID" name="CID" />
                    <input type="hidden" id="identificacionMID" name="MID" />

                    <div class="mb-3">
                        <label for="identificacionNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="identificacionNombre" name="Nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="identificacionNombreComercial" class="form-label">Nombre Comercial</label>
                        <input type="text" class="form-control" id="identificacionNombreComercial" name="NombreComercial" required>
                    </div>
                    <div class="mb-3">
                        <label for="identificacionAccionista" class="form-label">Accionista</label>
                        <input type="text" class="form-control" id="identificacionAccionista" name="Accionista" required>
                    </div>
                    <div class="mb-3">
                        <label for="identificacionSSNA" class="form-label">SSNA</label>
                        <input type="text" class="form-control" id="identificacionSSNA" name="SSNA" required>
                    </div>
                    <div class="mb-3">
                        <label for="identificacionCargo" class="form-label">Cargo</label>
                        <input type="text" class="form-control" id="identificacionCargo" name="Cargo" required>
                    </div>
                    <div class="mb-3">
                        <label for="identificacionLicConducir" class="form-label">Licencia de Conducir</label>
                        <input type="text" class="form-control" id="identificacionLicConducir" name="LicConducir" required>
                    </div>
                    <div class="mb-3">
                        <label for="identificacionNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="datetime-local" class="form-control" id="identificacionNacimiento" name="Nacimiento" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            console.log("Document is ready");

            $('#dashboardTabs a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
                console.log($(this).attr('id') + " tab clicked");
                prioritizeActiveTabTables($(this).attr('href'));
            });

            @if (TempData["Success"] != null)
            {
                <text>
                    console.log('Showing Toastr success message');
                    toastr.success('@TempData["Success"]');
                </text>
            }

            function initializeDataTables() {
                $('.tblData').each(function () {
                    if (!$.fn.dataTable.isDataTable($(this))) {
                        $(this).DataTable({
                            "paging": true,
                            "searching": true,
                            "ordering": false,
                            "info": false,
                            "lengthMenu": [[4, -1], ["Summary", "All"]],
                            "columnDefs": [
                                { "orderable": true, "targets": 1 }
                            ],
                            "order": [[1, 'asc']],
                            "autoWidth": false,
                            "language": {
                                "search": "Search in this record:"
                            }
                        });
                    }
                });
            }

            initializeDataTables();

            $('#externalSearch').on('keyup', function () {
                var searchTerm = $(this).val().toLowerCase();
                var tablesMatched = false;

                $('.tblData').closest('table').hide();
                $('.tab-pane').hide();

                $('.tblData').each(function () {
                    if ($.fn.dataTable.isDataTable($(this))) {
                        $(this).DataTable().destroy();
                    }
                });

                $('.tblData').each(function () {
                    var nombre = $(this).data('nombre').toLowerCase();
                    var nombreComercial = $(this).data('nombrecomercial').toLowerCase();
                    var parentTable = $(this).closest('table');
                    var parentTabPane = parentTable.closest('.tab-pane');

                    if (nombre.includes(searchTerm) || nombreComercial.includes(searchTerm)) {
                        parentTable.show();
                        parentTabPane.show();
                        tablesMatched = true;
                    }
                });

                if (tablesMatched) {
                    $('.tblData:visible').each(function () {
                        if (!$.fn.dataTable.isDataTable($(this))) {
                            $(this).DataTable({
                                "paging": true,
                                "searching": true,
                                "ordering": false,
                                "info": false,
                                "lengthMenu": [[4, -1], ["Summary", "All"]],
                                "columnDefs": [
                                    { "orderable": true, "targets": 1 }
                                ],
                                "order": [[1, 'asc']],
                                "autoWidth": false,
                                "language": {
                                    "search": "Search in this record:"
                                }
                            });
                        }
                    });
                }

                if (!tablesMatched) {
                    $('.tab-pane').show();
                    initializeDataTables();
                }

                if (searchTerm === "") {
                    $('.tab-pane').removeClass('show active');
                    $('.tab-pane:first').addClass('show active');
                }
            });

            $('#dashboardTabsContent .tab-pane').removeClass('show active');
            $('#dashboardTabsContent .tab-pane:first').addClass('show active');

            function prioritizeActiveTabTables(activeTabId) {
                $('.tab-pane').each(function () {
                    var tabPane = $(this);
                    if (tabPane.attr('id') === activeTabId.substring(1)) {
                        tabPane.prependTo('#dashboardTabsContent');
                    }
                });
            }

            prioritizeActiveTabTables($('#dashboardTabs a.active').attr('href'));
        });

        function editDemografico(id) {
            console.log("Edit button clicked for ID:", id);
            $.ajax({
                url: '@Url.Action("GetDemograficoById", "Dashboard")',
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    console.log("Data fetched:", data);
                    $('#demograficoId').val(data.id);
                    $('#demograficoNombre').val(data.nombre);
                    $('#demograficoNombreComercial').val(data.nombreComercial);
                    $('#demograficoTelefono').val(data.telefono);
                    $('#demograficoCelular').val(data.celular);
                    $('#demograficoDir').val(data.dir);
                    $('#demograficoTipo').val(data.tipo);
                    $('#demograficoPatronal').val(data.patronal);
                    $('#demograficoSSN').val(data.ssn);
                    $('#demograficoIncorporacion').val(data.incorporacion);
                    $('#demograficoOperaciones').val(data.operaciones);
                    $('#demograficoIndustria').val(data.industria);
                    $('#demograficoNAICS').val(data.naics);
                    $('#demograficoDescripcion').val(data.descripcion);
                    $('#demograficoContacto').val(data.contacto);
                    $('#demograficoDirFisica').val(data.dirFisica);
                    $('#demograficoDirPostal').val(data.dirPostal);
                    $('#demograficoEmail').val(data.email);
                    $('#demograficoEmail2').val(data.email2);
                    $('#demograficoCID').val(data.cid);
                    $('#demograficoMID').val(data.mid);

                    var offcanvasElement = document.getElementById('editDemograficoOffcanvas');
                    var offcanvas = new bootstrap.Offcanvas(offcanvasElement);
                    offcanvas.show();
                },
                error: function () {
                    toastr.error('Failed to fetch demografico details.');
                }
            });
        }

        $('#editDemograficoForm').on('submit', function (e) {
            e.preventDefault();

            var data = $(this).serialize();

            $.ajax({
                url: '@Url.Action("UpdateDemografico", "Dashboard")',
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.success) {
                        toastr.success('Demografico details updated successfully!');
                        location.reload();
                    } else {
                        toastr.error(response.message || 'Failed to update demografico details.');
                        console.log('Validation Errors:', response.errors);
                        response.errors.forEach(function (error) {
                            toastr.error(error);
                        });
                    }

                    var offcanvasElement = document.getElementById('editDemograficoOffcanvas');
                    var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
                    offcanvas.hide();
                },
                error: function () {
                    toastr.error('Failed to update demografico details.');
                }
            });
        });

        function editContributivo(id) {
            console.log("Edit button clicked for Contributivo ID:", id);
            $.ajax({
                url: '@Url.Action("GetContributivoById", "Dashboard")',
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    console.log("Data fetched:", data);
                    $('#contributivoId').val(data.id);
                    $('#contributivoNombre').val(data.nombre);
                    $('#contributivoNombreComercial').val(data.nombreComercial);
                    $('#contributivoEstatal').val(data.estatal);
                    $('#contributivoPoliza').val(data.poliza);
                    $('#contributivoRegComerciante').val(data.regComerciante);
                    $('#contributivoVencimiento').val(data.vencimiento);
                    $('#contributivoChoferil').val(data.choferil);
                    $('#contributivoDeptEstado').val(data.deptEstado);
                    $('#contributivoCID').val(data.cid);
                    $('#contributivoMID').val(data.mid);

                    var offcanvasElement = document.getElementById('editContributivoOffcanvas');
                    var offcanvas = new bootstrap.Offcanvas(offcanvasElement);
                    offcanvas.show();
                },
                error: function () {
                    toastr.error('Failed to fetch contributivo details.');
                }
            });
        }

        $('#editContributivoForm').on('submit', function (e) {
            e.preventDefault();

            var data = $(this).serialize();

            $.ajax({
                url: '@Url.Action("UpdateContributivo", "Dashboard")',
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.success) {
                        toastr.success('Contributivo details updated successfully!');
                        location.reload();
                    } else {
                        toastr.error(response.message || 'Failed to update contributivo details.');
                        console.log('Validation Errors:', response.errors);
                        response.errors.forEach(function (error) {
                            toastr.error(error);
                        });
                    }

                    var offcanvasElement = document.getElementById('editContributivoOffcanvas');
                    var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
                    offcanvas.hide();
                },
                error: function () {
                    toastr.error('Failed to update contributivo details.');
                }
            });
        });
        function editAdministrativo(id) {
            console.log("Edit button clicked for Administrativo ID:", id);
            $.ajax({
                url: '@Url.Action("GetAdministrativoById", "Dashboard")',
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    console.log("Data fetched:", data);
                    $('#administrativoId').val(data.id);
                    $('#administrativoNombre').val(data.nombre);
                    $('#administrativoNombreComercial').val(data.nombreComercial);
                    $('#administrativoContrato').val(data.contrato);
                    $('#administrativoFacturacion').val(data.facturacion);
                    $('#administrativoFacturacionBase').val(data.facturacionBase);
                    $('#administrativoIVU').val(data.ivu);
                    $('#administrativoStaff').val(data.staff);
                    $('#administrativoStaffDate').val(data.staffDate);
                    $('#administrativoCID').val(data.cid);
                    $('#administrativoMID').val(data.mid);

                    var offcanvasElement = document.getElementById('editAdministrativoOffcanvas');
                    var offcanvas = new bootstrap.Offcanvas(offcanvasElement);
                    offcanvas.show();
                },
                error: function () {
                    toastr.error('Failed to fetch administrativo details.');
                }
            });
        }

        $('#editAdministrativoForm').on('submit', function (e) {
            e.preventDefault();

            var data = $(this).serialize();

            $.ajax({
                url: '@Url.Action("UpdateAdministrativo", "Dashboard")',
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.success) {
                        toastr.success('Administrativo details updated successfully!');
                        var activeTabId = localStorage.getItem('activeTabId');
                        if (activeTabId) {
                            $('#' + activeTabId).tab('show');
                        } else {
                            location.reload();
                        }
                    } else {
                        toastr.error(response.message || 'Failed to update administrativo details.');
                        console.log('Validation Errors:', response.errors);
                        response.errors.forEach(function (error) {
                            toastr.error(error);
                        });
                    }

                    var offcanvasElement = document.getElementById('editAdministrativoOffcanvas');
                    var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
                    offcanvas.hide();
                },
                error: function () {
                    toastr.error('Failed to update administrativo details.');
                }
            });
        });

               function editIdentificacion(id) {
                console.log("Edit button clicked for Identificacion ID:", id);
                $.ajax({
                    url: '@Url.Action("GetIdentificacionById", "Dashboard")',
                    type: 'GET',
                    data: { id: id },
                    success: function (data) {
                        console.log("Data fetched:", data);
                        $('#identificacionId').val(data.id);
                        $('#identificacionNombre').val(data.nombre);
                        $('#identificacionNombreComercial').val(data.nombreComercial);
                        $('#identificacionAccionista').val(data.accionista);
                        $('#identificacionSSNA').val(data.ssna);
                        $('#identificacionCargo').val(data.cargo);
                        $('#identificacionLicConducir').val(data.licConducir);
                        $('#identificacionNacimiento').val(data.nacimiento);
                        $('#identificacionCID').val(data.cid);
                        $('#identificacionMID').val(data.mid);

                        var offcanvasElement = document.getElementById('editIdentificacionOffcanvas');
                        var offcanvas = new bootstrap.Offcanvas(offcanvasElement);
                        offcanvas.show();
                    },
                    error: function () {
                        toastr.error('Failed to fetch identificacion details.');
                    }
                });
            }

        $('#editIdentificacionForm').on('submit', function (e) {
            e.preventDefault();

            var data = $(this).serialize();

            $.ajax({
                url: '@Url.Action("UpdateIdentificacion", "Dashboard")',
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.success) {
                        toastr.success('Identificacion details updated successfully!');
                        location.reload();
                    } else {
                        toastr.error(response.message || 'Failed to update identificacion details.');
                        console.log('Validation Errors:', response.errors);
                        response.errors.forEach(function (error) {
                            toastr.error(error);
                        });
                    }

                    var offcanvasElement = document.getElementById('editIdentificacionOffcanvas');
                    var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
                    offcanvas.hide();
                },
                error: function () {
                    toastr.error('Failed to update identificacion details.');
                }
            });
        });
    </script>

    <!-- Include necessary libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
}