@model IEnumerable<DAL.Models.User>
@{
    ViewData["Title"] = "User Management";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="text-center mt-5">
                <h1 style="color: white">User Management</h1>
                <h2 style="color: white">Manage the users of your application here.</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <table id="customTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="Id" value="@user.Id" class="user-id" />
                            <span class="text-field">@user.Email</span>
                            <input type="text" name="Email" value="@user.Email" class="input-field" />
                        </td>
                        <td>
                            <span class="text-field">@user.FirstName</span>
                            <input type="text" name="FirstName" value="@user.FirstName" class="input-field" />
                        </td>
                        <td>
                            <span class="text-field">@user.LastName</span>
                            <input type="text" name="LastName" value="@user.LastName" class="input-field" />
                        </td>
                        <td>
                            @{
                                var lockButtonClass = user.LockoutEnd > DateTime.Now ? "btn-danger" : "btn-success";
                                var lockButtonText = user.LockoutEnd > DateTime.Now ? "Inactive" : "Active";
                                var lockButtonIcon = user.LockoutEnd > DateTime.Now ? "fas fa-lock" : "fas fa-unlock";
                            }
                            <a onclick="LockUnlock('@user.Id')" class="btn @lockButtonClass" style="cursor:pointer;">
                                <i class="@lockButtonIcon"></i> @lockButtonText
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary modify-button">Update</button>
                            <button type="button" class="btn btn-success save-button d-none">Save</button>
                            <button type="button" class="btn btn-warning password-recovery-button" onclick="passwordRecovery('@user.Email')">Password Recovery</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-right">
            <a href="/UserManagement/Create" class="green-button">
                <span>Create New User</span>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/userManagement.js" asp-append-version="true"></script>
}
